[submodule "Libraries/librairies"]
	path = Libraries/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "Libraries/Socket-Messaging-Library"]
	path = Libraries/Socket-Messaging-Library
	url = https://github.com/DeveloppeurPascal/Socket-Messaging-Library.git
[submodule "Libraries/ZXing.Delphi"]
	path = Libraries/ZXing.Delphi
	url = https://github.com/Spelt/ZXing.Delphi.git
[submodule "Libraries/DelphiZXingQRCode"]
	path = Libraries/DelphiZXingQRCode
	url = https://github.com/foxitsoftware/DelphiZXingQRCode.git
