[submodule "Libraries/librairies"]
	path = Libraries/librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "Libraries/Socket-Messaging-Library"]
	path = Libraries/Socket-Messaging-Library
	url = https://github.com/DeveloppeurPascal/Socket-Messaging-Library.git
